{% if mesg %}
<script>
  alert('{{ mesg }}');
</script>

{% endif %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title> Sign Up </title>
</head>
<body>

  <form action="/postsignup/" method="post">
	{% csrf_token %}
    Email :
    <input type="email" required="required" name="email"><br><br>
    Password :
    <input type="password" required="required" name="pass"><br><br>
    Name :
    <input type="name" required="required" name="name"><br><br>
    National Ethnicity :
    <input type="ethnicity" required="required" name="ethnic"><br><br>
    <div>
        <label for="birth">Date of Birth :</label>
        <input type="date" required="required" id="birth" name="birth"/>
    </div>

    <input type="submit" value="Sign Up">
    <button type="button" onclick="location.href='{% url 'signin' %}'">Cancel</button>
  </form>
</body>

